@tailwind components;
@tailwind utilities;
@tailwind base;

@layer components {
    body {
        overflow-x: hidden;

    }

    .navbar {
        @apply h-16 col-span-12 w-full flex items-center justify-evenly text-white
    }

    .navbar {
        background-color: rgba(255, 255, 255, 0.1);
        /* backdrop-filter: blur(30px); */
        position: fixed;
        top: 0;
    }

    /* don't ask how i did this, it's a workaround i found online, cause the back-drop doesn't work on parent and child simultaneously  */
    .navbar::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        backdrop-filter: blur(30px);
        z-index: -1;
    }

    .logo {
        height: 100%;
    }

    .logo img {
        height: 100%;
        /* width: 100%; */
    }

    .left-nav-sec {
        height: 100%;
    }

    .dark-overlay.active {
        display: block
    }

    .dark-overlay {
        display: none
    }

    ul>* {
        @apply hover:text-blue-500 hover:transition-colors
    }

    .navbar h2 {
        @apply p-4 text-[32px]
    }

    .navbar li {
        @apply p-4 text-[18px];
        width: fit-content;
    }

    .header-container {
        @apply col-span-12 flex flex-col items-start ml-16 gap-4 pt-[8.5rem];
    }

    .header-container h2 {
        @apply text-white text-[56px]
    }

    .header-container p {
        @apply text-blue-500 text-[24px]
    }

    .open {
        display: none;
    }

    .close {
        display: none;
    }

    @media screen and (max-width:768px) {
        .header-container {
            @apply items-center ml-0
        }

        ul {
            @apply flex-col mt-16 absolute top-0 right-0 h-screen w-[40%];

        }

        ul {
            background-color: rgba(255, 255, 255, 0.1);
            isolation: isolate;
            /* background-color: red; */
            backdrop-filter: blur(20px);
            transform: translateX(100%);
            transition: transform 150ms linear;
            display: none;
        }

        ul>li {
            width: 100%;
        }


        .open.active {
            display: block;
        }

        .close.active {
            display: block;
        }


        ul.active {
            display: block;
            transform: translateX(0);
        }

        body.no-scroll {
            overflow-y: hidden;
        }
    }

    .carousel-container {
        @apply col-start-3 col-span-8 m-3
    }

    .explore-container {
        @apply overflow-y-hidden
    }

    .explore-nav {
        @apply w-60 shadow-lg rounded-sm col-span-3 row-start-1 row-span-full
    }

    .explain-nav {
        @apply col-start-10 col-span-3 row-start-1 text-white p-4 pr-6 rounded mr-4;
        background-color: rgb(255, 255, 255, 0.25);
        backdrop-filter: blur(30px)
    }

    /* pages containerrs */
    .visualization-container {
        @apply col-span-12 min-h-[calc(100vh-20px)] bg-black w-full
    }

    .concepts-container {
        @apply col-span-full min-h-[calc(100vh-20px)] bg-white w-full
    }
}