
    <!-- Placeholder content for each concept -->
    <div class="container">
      <h1>Brief Overview</h1>
      <p> Exoplanets are planets that exist beyond our solar system. While most of them orbit other stars, some roam freely in space without a star to call home. We’ve discovered over 5,600 exoplanets so far, but scientists believe that billions more are waiting to be found. 
        These planets vary greatly in size, composition, and orbit. Join us on an interstellar adventure to learn about:</p>
      <p>Get ready to go on an ex-citing journey across the galaxy (and maybe even beyond!) as we learn about:</p>
      <ul>
          <li><a href="types.html">Types of Exoplanets</a></li>
          <li><a href="naming.html">How We Name Them</a></li>
          <li><a href="methods.html">How We Find Them</a></li>
          <li><a href="found.html">Which Ones We've Found</a></li>
          <li><a href="why-search.html">Why Even Look For Them?</a></li>
      </ul>
      <div id="chart"></div>
      <div id="grouping-options">
        <label>Group by:</label>
        <input type="radio" name="grouping" value="planet_type" checked> Planet Type
        <input type="radio" name="grouping" value="detection_method"> Detection Method
      </div>
         <!-- Button to link to quiz page -->
   <a href="quiz.html?title=overview"" class="quiz-button">Take a quiz</a>